<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SupplierEvaluation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <SupplierEvaluation.Properties.Settings>
      <setting name="UID" serializeAs="String">
        <value />
      </setting>
    </SupplierEvaluation.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="dbSCMEntities" connectionString="metadata=res://*/dbSCM.csdl|res://*/dbSCM.ssdl|res://*/dbSCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.226.86;initial catalog=dbSCM;user id=sa;password=decjapan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbHRMEntities" connectionString="metadata=res://*/dbHRM.csdl|res://*/dbHRM.ssdl|res://*/dbHRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.226.86;initial catalog=dbHRM;persist security info=True;user id=sa;password=decjapan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.226.86;initial catalog=dbHRM;persist security info=True;user id=sa;password=decjapan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSCMEntities2" connectionString="metadata=res://*/dbSCM.csdl|res://*/dbSCM.ssdl|res://*/dbSCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.226.86;initial catalog=dbSCM;user id=sa;password=decjapan;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbIoTFac2Entities" connectionString="metadata=res://*/dbIoTFac2.csdl|res://*/dbIoTFac2.ssdl|res://*/dbIoTFac2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.226.145;initial catalog=dbIoTFac2;user id=sa;password=decjapan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>